.chat-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

.messages-container {
    height: calc(100vh - 180px);
    overflow-y: auto;
}

.message-input {
    flex-shrink: 0;
    padding: 10px;
    background-color: #fff;
}

.sent .sent-card {
    justify-content: flex-end;
    text-align: right;
    margin-left: auto;
    color: white;
    display: flex;
    align-items: center;
}

.received .received-card {
    justify-content: flex-start;
    text-align: left;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.bg-blue-lighten-3 {
    background-color: #bbdefb;
}

.bg-grey-lighten-3 {
    background-color: #e0e0e0;
}

.bg-green-lighten-3 {
    background-color: #c8e6c9;
}

.bg-royal-blue {
    background-color: #4169e1;
}

.v-text-field {
    margin: 0;
}

.v-btn {
    margin-left: 10px;
}

.edit-text-field {
    width: calc(100% - 40px); /* Ajusta el ancho del campo de edición en línea */
    margin-right: 8px; /* Asegura que haya espacio para el botón de confirmación */
}

.v-list-item-content {
    display: flex;
    align-items: center;
}

.v-list-item-content .v-btn,
.action-icon {
    cursor: pointer;
    color: inherit; /* Mantiene el color del texto del icono */
    margin-left: 8px; /* Espacio entre botones de acción */
}

.message-actions {
    display: flex;
    align-items: center;
}

.action-icon {
    font-size: 16px;
    padding: 0 4px; /* Elimina el relleno que da apariencia de botón */
}